body{
	background-image: url(../img/wood.jpg);
}
/* MENY */
div.nav-menu ul li a:hover{
		color: #fff;
	}
div.nav-menu ul li a{
	color: #fff;
}
div.nav-menu ul{
	margin: 0;
	padding: 0;

}
div.nav-menu ul li{
	list-style: none;
	float: left;
	margin-left: 2.5em;
	font-size: 2em;
}

div.nav-menu ul li a:link,
div.nav.menu ul li a:visited{
	display: block;
	font-size: 90%;
	padding: 10px 25px 10px 0;
	color: #fff;
	text-decoration: none;
	font-family: 'Taviraj', serif;
}

section{
	height: 200px;
	width: 90%;
	background-color: #fff;
	color: #000;
	opacity: 0.5;
	margin-left: 4.5em;
	margin-top: 50px;
}

